@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply border px-3 md:px-10 py-1.5 md:py-2.5 rounded font-semibold transition duration-200 ease-out text-xs md:text-base;
  }
}

html {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}


@media only screen and (max-width: 767px) {
  .carousel-item-padding-40-px {
    padding: 4px;
  }
}
@media only screen and (min-width: 768px) {
  .carousel-item-padding-40-px {
    padding: 12px;
  }
}
@media only screen and (min-width: 1024px) {
 
}
@media only screen and (min-width: 1280px) {
 
}
@media only screen and (min-width: 1536px) {
 
}
